<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your tag</title>
</head>
<body>
    <h1 class="has-text-weight-bold is-size-1">Edit the tag: {{tag.name}}</h1>
    <form action="/tag:{{tag.id}}/submit">
        <div class="field">
            <label class="label">Tag Name:</label>
            <div class="control">
              <input name="e_t_name" class="input" type="text" value="{{tag.name}}">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
    </form>
    <form action="/">
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
          </div>
    </form>
</body>
</html>