<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}</title>
</head>
<body> 
    <h1>{{user.first_name}} Details</h1>
    <ul>
        <li>{{user.first_name}} {{user.last_name}}</li>
        <img src="{{user.image_url}}" alt="">
    </ul>
    <form action="/{{user.id}}/edit_user">
        <button>Edit</button>
    </form>
    <form action="/{{user.id}}/delete_user">
        <button>Delete</button>
    </form>
</body>
</html>